
    body{
        background-color: #1E1E1E; 
        /*overflow-x: hidden;*/
    }
    #identi{
        color:white;
    }
    #enti{
        color: #FFFFFF;
        margin-top:15px;
        line-height: 19px;  
        font-family: ubuntu, sans-serif;
        position: relative; 
    }
    #cod{
        background-color:white;
        font-style: black;
        width: 280px;
        height: 60px; 
        position: relative;

    }
    #bot{
        color:white;
        font-size:15pt; 
        border: 5px;
        font-weight: bold;
        background-color:#FF5E65;
        margin-left: 40px;
          height: 65px; 
          width: 220px; 
        position: relative;   
    }
    .clasecss{
        color:white;
        font-size:15pt; 
        border: 15px;
        font-weight: bold;
        background-color:red;
        margin-left: 80px;
          height: 65px; 
          width: 250px; 
        position: relative; 
    }
    #cuadro{
     background-color:#67B9E0;
     border-style: solid;
     border-color: #1E1E1E;
     border-right-width: 74px;
     padding-bottom: 10px;

    }

    .formu{
    background-color:white;
        width: 370px;
    height:50px;
    border: none;
        min-height: 34px;
    margin:5px;
        position: relative; 

    }
    input::-moz-placeholder {
    color: #black;
    text-align: center;
    /*font-weight: bold;*/
    }

    #entre{
    color: #FFFFFF;
    margin-top:10px;
    font-size: 16px;
    line-height: 19px;  
    font-family: ubuntu, sans-serif;
    position: relative; 
    }

    #capt
    {
    margin:5px 5px 5px 5px;
    }

    html, body, #map_canvas
     {                
     height: 100%;
     width: 100%;
    }
    #btn-login{
        margin:5px 5px 5px 5px;
          height: 45px; 
          width: 380px; 
          background-color:rgb(54, 62, 122);
          color:white;
           border: none;
        font-size:15pt; 
       
    }
